// Place all the styles related to the answer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$vanilla: #ebc9c9;

 body {
   background: $vanilla;
   color: rgb(255, 255, 255)
 }

 .banner {
    background: red;
    h1 {
      font-size: 50px;
      color: blue
    }
  }
  a {
    color: rgb(255, 11, 11);
    &:hover {
      color: black;
    }
  }